<!DOCTYPE html>
<html>
<head>
    <title>Calculator on Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
      <div class="buttons">
        <input class='input' @keyup.enter="calc()" type="text" v-model="result" placeholder="">
        <button class='cell AC' @click="reset()">AC</button>
        <button class='cell C' @click="del()">C</button>
        <button class='cell num' @click="input(num)" v-for="num in numbers">{{num}}</button>
        <button class='cell equal_sign' @click="calc()">=</button>
      </div>
      <div class="operations">
          <button class='attr op' @click="input(op)" v-for="op in operations">{{op}}</button>
      </div>
    </div>
</body>
<script src="script.js"></script>
</html>